<% provide(:title, @service) %>
<% provide(:description, "Details of the #{@service} service.") %>

<div class="container">
	<h1><%= @service %></h1>
	<h4><%= link_to @service.operator, @service.operator.url %></h4>

<% if !@service.disruption_reason.empty? %>
	<div class="alert alert-danger" role="alert">
		<%= icon('exclamation-sign') %>
		<%= @service.disruption_reason %>
	</div>
<% end %>

	<div class="list-group">
	<% @service.calling_points.each do |calling_point| %>
		<a href="<%= calling_point.form_url @service if calling_point.at.nil? %>" class="list-group-item <%= calling_point.css(@service.station) %>">
			<h4 class="list-group-item-heading"><%= calling_point.st %> <%= calling_point %></h4>
			<p class="list-group-item-text"><%= calling_point.time %></p>
		</a>
	<% end %>
	</div>

	<%= data_feeds_link %>

</div>
