<% provide(:title, @service) %>
<% provide(:description, "Details of the #{@service} service.") %>
<% provide(:attribution, "Powered by TfL Open Data") if @service.id.starts_with? 'TUBE' %>

<div class="container">
	<h1>
		<%= @service.calling_points.first.std.strftime('%H:%M') %>
		<%= link_to @service.origin, @service.origin.url %>
		to
		<%= link_to @service.destination, @service.destination.url %>
	</h1>

	<h4><%= link_to @service.operator, @service.operator.url if @service.operator %></h4>

<% if @service.cancelled_reason %>
	<div class="alert alert-danger" role="alert">
		<%= icon('exclamation-sign') %>
		<%= @service.cancelled_reason %>
	</div>
<% end %>

<% if @service.delayed_reason %>
	<div class="alert alert-info" role="alert">
		<%= icon('exclamation-sign') %>
		<%= @service.delayed_reason %>
	</div>
<% end %>

	<div class="row">

		<div class="col-xs-12 col-md-7 col-lg-8">
			<h3>Calling Points</h3>
			<div class="list-group">
			<% @service.calling_points.each do |calling_point| %>
				<div id="station:<%= calling_point.station.id if calling_point.station %>" class="list-group-item">
					<div class="row">
						<div class="col-xs-10">
							<h4 class="list-group-item-heading">
							<% if calling_point.std %>
								<%= calling_point.std.strftime('%H:%M') %>
							<% elsif calling_point.sta %>
								<%= calling_point.sta.strftime('%H:%M') %>
							<% end %>
							<% if calling_point.station %>
								<%= link_to calling_point, calling_point.station.url %>
							<% else %>
								<%= calling_point %>
							<% end %>
							</h4>
							<p class="list-group-item-text"><%= calling_point.description %></p>
						</div>
						<div class="col-xs-2 text-right">
							<h1 class="list-group-item-heading"><%= calling_point.platform %></h1>
						</div>
					</div>
				</div>
			<% end %>
			</div>
		</div>

		<div class="col-xs-12 col-md-5 col-lg-4">
			<h3>Map</h3>
			<p><img src="<%= @service.google_map_image %>"></p>
			<h3>Technical Details</h3>
			<table class="table">
				<tr><td>RTTI ID</td><td><%= @service.rid %></td></tr>
				<tr><td>ITPS Train UID</td><td><%= @service.uid %></td></tr>
				<tr><td>Train ID (Headcode)</td><td><%= @service.uid %></td></tr>
				<tr><td>Retail Service ID</td><td><%= @service.rsid %></td></tr>
				<tr><td>Scheduled Departure Date</td><td><%= @service.sdd %></td></tr>
				<tr><td>Service Type</td><td><%= @service.service_type %></td></tr>
				<tr><td>Category</td><td><%= @service.category %></td></tr>
			</table>
		</div>

	</div>

<% if current_user %>
	<h3>Add Journey</h3>
	<div class="well">
		<%= render :partial => 'journey_legs/form' %>
	</div>
<% end %>

</div>
