<% provide(:title, "Tube") %>
<% provide(:description, "Real-time train information for UK train stations.") %>
<% provide(:attribution, "Powered by TfL Open Data") %>

<div class="container">
	<h1>Tube</h1>
	
	<%= form_tag(tube_root_path, method: :get) do %>
	<div class="input-append well">
		<div class="input-group">
			<%= text_field_tag(:q, nil, class: "form-control", placeholder: "Search for a tube station", autofocus: true, value: @q) %>
			<span class="input-group-btn">
				<a class="btn btn-success geo" data-field="q" data-url="<%= tube_root_path %>" title="Locate Me"><%= icon("map-marker") %></a>
      		</span>
		</div>
	</div>
	<% end %>

	<div class="row">
		<div class="col-md-4">

			<h3>Lines</h3>
			<div class="list-group">
			<% @lines.each do |line| %>
				<a href="<%= line.url %>" class="list-group-item" style="<%= line.style %>" title="<%= line.status_details %>">
					<div class="pull-left"><%= line %></div>
					<div class="pull-right"><%= line.status %></div>
					<div class="clearfix"></div>
				</a>
			<% end %>

			</div>
		</div>
		<div class="col-md-8">

			<h3><%= @q.nil? || @q.empty? ? "A-Z" : @q %></h3>
			<div class="list-group">
			<% @stations.each do |station| %>
		 		<%= link_to station, station.url, class: "list-group-item" %>
			<% end %>
			</div>
			<%= paginate @stations %>

		</div>
	</div>
</div>
