<% provide(:title, @station.name) %>
<% provide(:description, "Real-time train information for UK train stations.") %>
<% provide(:attribution, "Powered by TfL Open Data") %>

<div class="container">
	<h1><%= @station %></h1>
	<div class="row">
		<div class="col-md-4">

			<h3>Details</h3>
			<p><%= @station.address %></p>
			<p><%= link_to @station.phone %></p>
			
			<h3>Facilities</h3>
			<table class="table-striped">
				<% @station.facilities.each do |facitity| %>
				<tr>
					<td><%= facitity.to_hash.first[0] %></td>
					<td><%= facitity.to_hash.first[1] %></td>
				</tr>
			<% end %>
			</table>

		</div>
		<div class="col-md-8">
			
			<h3>Lines</h3>
			<div class="list-group">
			<% @station.tube_lines.each do |line| %>
				<a href="<%= line.url %>" class="list-group-item" style="<%= line.style %>">
					<div class="pull-left"><%= line %></div>
					<div class="pull-right"><%= line.status %></div>
					<div class="clearfix"></div>
				</a>
			<% end %>
			</div>

			<h3>Next Train</h3>
			<div class="list-group">
			<% @trains.each do |train| %>
				
			<% end %>
			</div>

		</div>
	</div>
</div>
