	<ul class="nav nav-tabs" style="margin-bottom:20px;">

		<% css = if request.original_fullpath == @station.url then "active" else "" end %>
		<li role="presentation" class="<%= css %>"><a href="<%= @station.url %>"><%= icon('list-alt') %> Summary</a></li>

	<% if @station.national_rail? %>
		<% css = if request.original_fullpath == @station.url + "/departures" then "active" else "" end %>
		<li role="presentation" class="<%= css %>"><a href="<%= @station.url + "/departures" %>"><%= icon('resize-full') %> Departures</a></li>

		<% css = if request.original_fullpath == @station.url + "/arrivals" then "active" else end %>
		<li role="presentation" class="<%= css %>"><a href="<%= @station.url + "/arrivals" %>"><%= icon('resize-small') %> Arrivals</a></li>
	<% end %>

	<% if @station.underground? %>
		<% css = if request.original_fullpath == @station.url + "/tube" then "active" else "" end %>
		<li role="presentation" class="<%= css %>"><a href="<%= @station.url + "/tube" %>"><%= icon('record') %> Tube</a></li>
	<% end %>

	</ul>