	<ul class="nav nav-tabs mb-3">

		<% css = if request.original_fullpath == @station.url then "active" else "" end %>
		<li class="nav-item">
			<a class="nav-link <%= css %>" href="<%= @station.url %>"><%= icon('list-alt') %> Summary</a>
		</li>

	<% if @station.national_rail? %>
		<% css = if request.original_fullpath == @station.url + "/departures" then "active" else "" end %>
		<li class="nav-item">
			<a class="nav-link <%= css %>" href="<%= @station.url + "/departures" %>"><%= icon('resize-full') %> Departures</a>
		</li>

		<% css = if request.original_fullpath == @station.url + "/arrivals" then "active" else end %>
		<li class=" nav-item">
			<a class="nav-link <%= css %>" href="<%= @station.url + "/arrivals" %>"><%= icon('resize-small') %> Arrivals</a>
		</li>
	<% end %>

	<% if @station.underground? %>
		<% css = if request.original_fullpath == @station.url + "/tube" then "active" else "" end %>
		<li class="nav-item">
			<a class="nav-link <%= css %>" href="<%= @station.url + "/tube" %>"><%= icon('record') %> Tube</a>
		</li>
	<% end %>

	</ul>