<% provide(:title, "#{@station} - Arrivals") %>
<% provide(:description, "Real-time train arrivals for #{@station}.") %>

<div class="container">
	<h1><%= @station %></h1>

<%= render 'navigation' %>

<% @arrival_board.nrcc_messages.each do |message| %>
	<div class="alert alert-warning" role="alert">
		<%= icon('info-sign') %>
		<%= message.text %>
	</div>
<% end %>

	<div class="list-group mb-5">
	<% @arrival_board.train_services.each do |service| %>
		<a href="<%= service.url %>" class="list-group-item list-group-item-action flex-column align-items-start">
			<div class="d-flex w-100 justify-content-between">
				<h4>
					<%= service.sta.strftime('%H:%M') if service.sta %>
					<%= service.origin %>
				</h4>
				<h3 class="mb-0"><%= service.platform %></h3>
				</div>
			<p class="mb-0"><%= service.description %></p>
			<small class="text-muted">To <%= service.destination %> - <%= service.operator %></small>
		</a>
	<% end %>
	</div>

	<%= data_feeds_link %>

</div>
