<% provide(:title, "#{@station} - Departures") %>
<% provide(:description, "Real-time train departures for #{@station}.") %>

<div class="container">
	<h1><%= @station %></h1>

<%= render 'navigation' %>

	<h3>Departure Board</h3>

<% @departure_board.nrcc_messages.each do |message| %>
	<div class="alert alert-warning" role="alert">
		<%= icon('info-sign') %>
		<%= message.text %>
	</div>
<% end %>

	<div class="list-group">
	<% @departure_board.train_services.each do |service| %>
		<a href="<%= service.departure_url(params[:journey_id]) %>" class="list-group-item">
	    	<div class="row">
	    		<div class="col-xs-10">
					<h4 class="list-group-item-heading">
						<%= service.std.strftime('%H:%M') if service.std %>
						<%= service.destination %>
					</h4>
					<p class="list-group-item-text"><%= service.description %></p>
					<p class="list-group-item-text">From <%= service.origin %> - <%= service.operator %></p>
				</div>
				<div class="col-xs-2 text-right">
					<h1 class="list-group-item-heading"><%= service.platform %></h1>
				</div>
			</div>
		</a>
	<% end %>
	</div>

	<%= data_feeds_link %>

</div>
