<% provide(:title, "#{@station} - Detailed") %>
<% provide(:description, "Real-time train departures and arrivals for #{@station}.") %>

<div class="container">
	<h1><%= @station %></h1>

<%= render 'navigation' %>

	<h3>Detailed Board</h3>

<% @board.nrcc_messages.each do |message| %>
	<div class="alert alert-warning" role="alert">
		<%= icon('info-sign') %>
		<%= message %>
	</div>
<% end %>

	<div class="list-group">
	<% @board.train_services.each do |service_item| %>
	    <a href="<%= service_item.url %>" class="list-group-item">
	    	<div class="row">
	    		<div class="col-xs-10">
					<h4 class="list-group-item-heading"><%= service_item.std %> <%= service_item.destination %></h4>
					<p class="list-group-item-text text-<%= service_item.css %>"><%= service_item.etd %></p>
					<p class="list-group-item-text">
						From <%= service_item.origin %> - <%= service_item.operator %>
						<ul>
						<% if service_item.previous_calling_points.count > 0 %>
						  <% service_item.previous_calling_points.each do |calling_point| %>
								<li><%= calling_point %></li>
							<% end %>
							  <li><%= @station %></li>
							<% service_item.subsequent_calling_points.each do |calling_point| %>
								<li><%= calling_point %></li>
							<% end %>
						<% end %>
					  </ul>
					</p>

				</div>
				<div class="col-xs-2 text-right">
					<h3><%= service_item.platform %></h3>
				</div>
			</div>
		</a>
	<% end %>
	</div>

	<%= data_feeds_link %>

</div>
