<% provide(:title, "Stations") %>
<% provide(:description, "Real-time train information for UK train stations.") %>

<div class="container">
  <h1>Stations</h1>
  
<%= form_tag(stations_path, method: :get) do %>
	<div class="input-append well">
		<div class="input-group">
			<%= text_field_tag(:q, nil, class: "form-control", placeholder: "Search for a station", autofocus: true, value: @q) %>
			<span class="input-group-btn">
				<a class="btn btn-success geo" data-field="q" data-url="<%= stations_path %>" title="Locate Me"><%= icon("map-marker") %></a>
      		</span>
		</div>
	</div>
<% end %>
  
	<div class="row">

	<% if signed_in? %>
		<div class="col-md-4">
			<h3>Favourites</h3>
			<div class="list-group">
				<%= link_to icon('home') + " " + current_user.home_station, current_user.home_station.url, class: "list-group-item" if current_user.home_station %>
				<%= link_to icon('briefcase') + " " + current_user.work_station, current_user.work_station.url, class: "list-group-item" if current_user.work_station %>
			<% current_user.favourite_stations.each do |station| %>
				<%= link_to icon('star') + " " + station, station.url, class: "list-group-item" %>
			<% end %>
			</div>
		</div>
	<% end %>

		<div class="col-md-8">
			<h3><%= @q.nil? || @q.empty? ? "A-Z" : @q %></h3>
			<div class="list-group">
			<% @stations.each do |station| %>
		 		<%= link_to station, station.url, class: "list-group-item" %>
			<% end %>
			</div>
			<%= paginate @stations %>
		</div>

	</div>
</div>
