<% provide(:title, @station) %>
<% provide(:description, "Real-time train information for #{@station}.") %>

<%= render 'navigation' %>

<div class="container">

	<div class="row">
		<div class="col-md-4">

			<p><img class="img-thumbnail" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwBBACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" style="width:180px;height:180px"></p>

		<% if @station.operator %>
			<p>Operated by <%= link_to @station.operator.name, @station.operator.url %></p>
		<% end %>

		<% if @station.address and !@station.address.empty? %>
			<p><%= @station.address %></p>
		<% end %>

		<% if @station.phone and !@station.phone.empty? %>
			<p><%= icon('phone') %> <%= link_to @station.phone, "tel:" + @station.phone.gsub(" ", "") %></p>
		<% end %>

		<% if @station.twitter and !@station.twitter.empty? %>
			<p><i class="fab fa-twitter"></i> <%= link_to @station.twitter, "http://twitter.com/" + @station.twitter %></p>
		<% end %>

		<% if !@station.facilities.empty? %>
			<h5>Facilities</h5>
			<table class="table-striped">
				<% @station.facilities.each do |k,v | %>
				<tr>
					<td><%= k %></td>
					<td><%= v %></td>
				</tr>
			<% end %>
			</table>
		<% end %>

		</div>
		<div class="col-md-4">

		</div>

	<% if signed_in? %>
		<div class="col-md-4">
			<div class="well">

			<% if current_user.home_station == @station %>
				<div class="form-group">
					<button class="btn btn-primary btn-lg btn-block disabled"><%= icon('home') %> My Home Station</button>
				</div>
			<% else %>
				<%= form_for(:user, as: :user, url: registration_path(:user), html: { method: :put }) do |f| %>
					<%= f.hidden_field :home_station_id, value: @station.id %>
					<div class="form-group">
						<button class="btn btn-primary btn-lg btn-block"><%= icon('home') %> Make my Home</button>
					</div>
				<% end %>
			<% end %>

			<% if current_user.work_station == @station %>
				<button class="btn btn-primary btn-lg btn-block disabled"><%= icon('briefcase') %> My Work Station</button>
			<% else %>
				<%= form_for(:user, as: :user, url: registration_path(:user), html: { method: :put }) do |f| %>
					<%= f.hidden_field :work_station_id, value: @station.id %>
					<button class="btn btn-info btn-lg btn-block"><%= icon('briefcase') %> Make my Work</button>
				<% end %>
			<% end %>

			</div>
		</div>
	<% end %>
	</div>

</div>
