<% provide(:title, @station.name) %>
<% provide(:description, "Real-time train information for UK train stations.") %>
<% provide(:attribution, "Powered by TfL Open Data") %>

<div class="container">
	<h1><%= @station %></h1>

<%= render 'navigation' %>

<% @tube_board.nrcc_messages.each do |message| %>
	<div class="alert alert-warning" role="alert">
		<%= icon('info-sign') %>
		<%= message %>
	</div>
<% end %>

	<div class="list-group">
	<% @tube_board.train_services.each do |service| %>
		<a href="<%= service.departure_url(params[:journey_id]) %>" class="list-group-item list-group-item-action flex-column align-items-start">
			<div class="d-flex w-100 justify-content-between">
				<h4>
					<%= service.std.strftime('%H:%M') if service.std %>
					<%= service.destination %>
				</h4>
				<h3 class="mb-0"><%= service.platform %></h3>
			</div>
			<p class="mb-0"><%= service.description %></p>
			<small class="text-muted"><%= service.operator %> <span class="badge" style="<%= service.line.style if service.line %>"><%= service.line %></span></small>
		</a>
	<% end %>
	</div>

</div>
