<% provide(:title, @station.name) %>
<% provide(:description, "Real-time train information for UK train stations.") %>
<% provide(:attribution, "Powered by TfL Open Data") %>

<div class="container">
	<h1><%= @station %></h1>

<%= render 'navigation' %>
	<h3>Underground Departure Board</h3>
	
<% @tube_board.nrcc_messages.each do |message| %>
	<div class="alert alert-warning" role="alert">
		<%= icon('info-sign') %>
		<%= message %>
	</div>
<% end %>

	<div class="list-group">
	<% @tube_board.train_services.each do |service_item| %>
		<a href="<%= service_item.url %>" class="list-group-item">
			<div class="row">
	    		<div class="col-xs-10">
					<h4 class="list-group-item-heading">
						<%= service_item.std.strftime('%H:%M') if service_item.std %> <%= service_item.destination %>
					</h4>
					<p class="list-group-item-text text-<%= service_item.css %>">
						<%= service_item.etd.strftime('%H:%M') if service_item.etd %>
					</p>
					<p class="list-group-item-text">
						<span class="label" style="<%= service_item.line.style %>"><%= service_item.line %></span>
						<%= service_item.operator %>
					</p>
				</div>
				<div class="col-xs-2 text-right">
					<h3><%= service_item.platform %></h3>	
				</div>
			</div>
		</a>
	<% end %>
	</div>

</div>
