<% provide(:title, @station.name) %>
<% provide(:description, "Real-time train information for UK train stations.") %>
<% provide(:attribution, "Powered by TfL Open Data") %>

<div class="container">
	<h1><%= @station %></h1>

<%= render 'navigation' %>

	<h3>Underground Departure Board</h3>

<% @tube_board.nrcc_messages.each do |message| %>
	<div class="alert alert-warning" role="alert">
		<%= icon('info-sign') %>
		<%= message %>
	</div>
<% end %>

	<div class="list-group">
	<% @tube_board.train_services.each do |service| %>
		<a href="<%= service.departure_url %>" class="list-group-item">
			<div class="row">
	    		<div class="col-xs-10">
					<h4 class="list-group-item-heading">
						<%= service.std.strftime('%H:%M') if service.std %>
						<%= service.destination %>
					</h4>
					<p class="list-group-item-text"><%= service.description %></p>
					<p class="list-group-item-text">
						<%= service.operator %>
						<span class="label" style="<%= service.line.style if service.line %>"><%= service.line %></span>
					</p>
				</div>
				<div class="col-xs-2 text-right">
					<h4><%= service.platform %></h4>
				</div>
			</div>
		</a>
	<% end %>
	</div>

</div>
