<%= form_for(@journey_leg, url: @url, method: @method) do |f| %>

	<h4>From</h4>
	<section class="row">
		<article class="col-md-3">
			<div class="form-group">
				<%= f.label :departure_station_id, "Station", class: "control-label" %>
				<%= f.collection_select :departure_station_id, @stations, :id, :name, {}, class: "form-control" %>
			</div>
		</article>
		<article class="col-md-1">
			<div class="form-group">
				<%= f.label :departure_platform, "Platform", class: "control-label" %>
				<%= f.text_field :departure_platform, class: "form-control" %>
			</div>
		</article>
		<article class="col-md-2">
			<div class="form-group">
				<%= f.label :scheduled_departure, "Scheduled Time", class: "control-label" %>
				<%= f.time_field :scheduled_departure, class: "form-control", required: true, step:1 %>
			</div>
		</article>
		<article class="col-md-2">
			<div class="form-group">
				<%= f.label :actual_departure, "Actual Time", class: "control-label" %>
				<%= f.time_field :actual_departure, class: "form-control", required: true, step:1 %>
			</div>
		</article>
	</section>

	<h4>To</h4>
	<section class="row">
		<article class="col-md-3">
			<div class="form-group">
				<%= f.label :arrival_station_id, "Station", class: "control-label" %>
				<%= f.collection_select :arrival_station_id, @stations, :id, :name, {}, class: "form-control" %>
			</div>
		</article>
		<article class="col-md-1">
			<div class="form-group">
				<%= f.label :arrival_platform, "Platform", class: "control-label" %>
				<%= f.text_field :arrival_platform, class: "form-control" %>
			</div>
		</article>
		<article class="col-md-2">
			<div class="form-group>">
				<%= f.label :scheduled_arrival, "Scheduled Time", class: "control-label" %>
				<%= f.time_field :scheduled_arrival, class: "form-control", required: true, step:1 %>
			</div>
		</article>
		<article class="col-md-2">
			<div class="form-group>">
				<%= f.label :actual_arrival, "Actual Time", class: "control-label" %>
				<%= f.time_field :actual_arrival, class: "form-control", required: true, step:1 %>
			</div>
		</article>
	</section>

	<section class="row">
		<article class="col-md-3">
			<div class="form-group">
				<%= f.label :operator_id, "Operator", class: "control-label" %>
				<%= f.collection_select :operator_id, Operator.order(:name), :id, :name, {}, class: "form-control" %>
			</div>
		</article>
	</section>

	<div class="actions">
		<%= f.submit "Save Leg", class: "btn btn-primary" %>
		<%= link_to 'Cancel', @journey || journeys_path, class: "btn btn-default" %>
	</div>

<% end %>
