<% provide(:title, @operator) %>
<% provide(:description, "Details of this train operator.") %>

<div class="container">
	<h1><%= @operator %></h1>
	<div class="row">

	<% if @operator.ppm %>
		<div class="col-md-6">
			<h3>Public Performance Measure</h3>
			<p>This is the real-time performance measure of <%= @operator.name %>. It shows how reliable the service today is.</p>
			<div id="gauge" style="margin:auto"></div>
			<table class="table">
				<tr><td>On Time</td><td><%= @operator.ppm.on_time %></td></tr>
				<tr><td>Late</td><td><%= @operator.ppm.late %></td></tr>
				<tr><td>Very Late/Cancelled</td><td><%= @operator.ppm.cancel_very_late %></td></tr>
				<tr><td><strong>Total</strong></td><td><strong><%= @operator.ppm.total %></strong></td></tr>
			</table>
			<p>Last updated: <%= @operator.ppm.created_at %></p>
		</div>
	<% end %>

		<div class="col-md-6">
			<h5>Contact Information</h5>
		<% if @operator.twitter %>
			<p><%= icon("twitter") %> <%= link_to "@" + @operator.twitter, @operator.tweet_url, target: "_blank" %></p>
		<% end %>

		<% if @operator.website %>
			<p><%= icon("laptop") %> <%= link_to @operator.website, @operator.website, target: "_blank" %></p>
		<% end %>

		<% if @operator.phone %>
			<p><%= icon("phone") %> <%= link_to @operator.phone, @operator.phone_url, target: "_blank" %></p>
		<% end %>

		<% if @operator.email %>
			<p><%= icon("at") %> <%= link_to @operator.email, @operator.email_url, target: "_blank" %></p>
		<% end %>

		<% if @operator.delay_repay_url %>
			<h3>Delayed Train?</h3>
			<p>Was your train cancelled or delayed? You may be eligable for compensation. Take a look at details here:</p>
			<%= link_to "Delay Repay", @operator.delay_repay_url, class: "btn btn-default" %>
		<% end %>
		</div>

	</div>
</div>

<% if @operator.ppm %>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
	google.load("visualization", "1", {packages:["gauge"]});
	google.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Label', 'Value'],
			['PPM', <%= @operator.ppm.ppm %>]
		]);
		var options = {
			width: 240, height: 240,
			redFrom: 0, redTo: 89,
			yellowFrom:89, yellowTo: 92,
			greenFrom: 92, greenTo: 100,
			minorTicks: 20
		};
		var gauge = new google.visualization.Gauge(document.getElementById('gauge'));
		gauge.draw(data, options);
	}
	</script>
<% end %>
