<% provide(:title, "Tube Lines") %>
<% provide(:description, "Real-time train information for UK train stations.") %>
<% provide(:attribution, "Powered by TfL Open Data") %>

<div class="container">
  <h1>Tube Lines</h1>

	<%= form_tag(tube_lines_path, method: :get, class: "mb-3") do %>
		<%= text_field_tag(:q, nil, class: "form-control", placeholder: "Search for a line", autofocus: true, value: @q) %>
	<% end %>

	<div class="row">
		<div class="col-md-8">
			<h5><%= @q.nil? || @q.empty? ? "A-Z" : @q %></h5>
			<div class="list-group mb-3">
			<% @lines.each do |line| %>
		 		<%= link_to line, line.url, class: "list-group-item", style: line.style %>
			<% end %>
			</div>
			<%= paginate @lines %>
		</div>
	</div>
</div>
