<% provide(:title, @journey) %>
<% provide(:description, "Details of this train journey.") %>

<div class="container">
	<h1><%= @journey %></h1>

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<% @journey.journey_legs.each_with_index do |leg, i| %>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="heading<%= i %>">
	      <h4 class="panel-title">
	        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#leg:<%= i %>" aria-expanded="true" aria-controls="leg:<%= i %>">
	          <%= leg %>
	        </a>
	      </h4>
	    </div>
	    <div id="leg:<%= i %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<%= i %>">
	      <div class="panel-body">
	        <%= leg.inspect %>
	      </div>
	    </div>
	  </div>
		<% end %>
	</div>

	<%= link_to "Add Journey Leg", @journey.new_journey_leg, class: "btn btn-default"  %>

</div>
